<!DOCTYPE html>
<html>
  <head>
    <meta>
    <link rel="stylesheet" href="assets/styles/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/bootstrap.css">

    <title>ng-Notes App</title>
  </head>
  <body>
    <h1>ngNotes</h1>

    <!-- Vendor -->
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/angular.js"></script>
    <script src="assets/js/vendor/angular-resource.js"></script>
    <script src="assets/js/vendor/angular-route.js"></script>
    <!-- <script src="assets/js/vendor/bootstrap.js"></script> -->

    <!-- App -->

    <!-- Directives -->
    <!-- Controllers -->
    <!-- Services -->
  </body>
</html>
